<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AplikasiServlet</servlet-name>
        <servlet-class>servlets.AplikasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputDonatur</servlet-name>
        <servlet-class>servlets.InputDonaturServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Donatur</servlet-name>
        <servlet-class>servlets.DonaturServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessRegister</servlet-name>
        <servlet-class>servlets.ProsesRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RekeningServlet</servlet-name>
        <servlet-class>servlets.RekeningServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpanKodeTransaksiServlet</servlet-name>
        <servlet-class>servlets.SimpanKodeTransaksiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KodeTransaksiServlet</servlet-name>
        <servlet-class>servlets.KodeTransaksiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditKodeTransaksiServlet</servlet-name>
        <servlet-class>servlets.EditKodeTransaksiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UbahProfilMasjid</servlet-name>
        <servlet-class>servlets.UbahProfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputRekeningServlet</servlet-name>
        <servlet-class>servlets.InputRekeningServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRekeningServlet</servlet-name>
        <servlet-class>servlets.EditRekeningServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PengurusMasjidServlet</servlet-name>
        <servlet-class>servlets.PengurusMasjidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpanEditKodeTransaksiServlet</servlet-name>
        <servlet-class>servlets.SimpanEditKodeTransaksiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusKodeTransaksiServlet</servlet-name>
        <servlet-class>servlets.HapusKodeTransaksiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpanPengurusServlet</servlet-name>
        <servlet-class>servlets.SimpanPengurusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPengurusServlet</servlet-name>
        <servlet-class>servlets.EditPengurusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusPengurusServlet</servlet-name>
        <servlet-class>servlets.HapusPengurusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpanEditRekeningServlet</servlet-name>
        <servlet-class>servlets.SimpanEditRekeningServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusRekeningServlet</servlet-name>
        <servlet-class>servlets.HapusRekeningServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDonatur</servlet-name>
        <servlet-class>servlets.EditDonaturServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnggahProposalServlet</servlet-name>
        <servlet-class>servlets.UnggahProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesUnggahProposalServlet</servlet-name>
        <servlet-class>servlets.ProsesUnggahProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BatalSimpanServlet</servlet-name>
        <servlet-class>servlets.BatalSimpanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpanEditDonaturServlet</servlet-name>
        <servlet-class>servlets.SimpanEditDonaturServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusDonaturServlet</servlet-name>
        <servlet-class>servlets.HapusDonaturServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesUnggahBeritaServlet</servlet-name>
        <servlet-class>servlets.ProsesUnggahBeritaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnggahBeritaServlet</servlet-name>
        <servlet-class>servlets.UnggahBeritaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PenerimaDanaServlet</servlet-name>
        <servlet-class>servlets.PenerimaDanaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputPenerimaDanaServlet</servlet-name>
        <servlet-class>servlets.InputPenerimaDanaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPenerimaDanaServlet</servlet-name>
        <servlet-class>servlets.EditPenerimaDanaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpanEditPenerimaDanaServlet</servlet-name>
        <servlet-class>servlets.SimpanEditPenerimaDanaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusPenerimaDanaServlet</servlet-name>
        <servlet-class>servlets.HapusPenerimaDanaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProposalServlet</servlet-name>
        <servlet-class>servlets.ProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProposalServlet</servlet-name>
        <servlet-class>servlets.DetailProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesSetujuProposal</servlet-name>
        <servlet-class>servlets.ProsesSetujuProposal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LaporanProposal</servlet-name>
        <servlet-class>servlets.LaporanProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsServlet</servlet-name>
        <servlet-class>servlets.NewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeritaServlet</servlet-name>
        <servlet-class>servlets.BeritaIndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailBerita</servlet-name>
        <servlet-class>servlets.DetailBeritaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndeksProposalServlet</servlet-name>
        <servlet-class>servlets.IndeksProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TerimaServlet</servlet-name>
        <servlet-class>servlets.TerimaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AplikasiServlet</servlet-name>
        <url-pattern>/aplikasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessRegister</servlet-name>
        <url-pattern>/processregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RekeningServlet</servlet-name>
        <url-pattern>/rekening</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpanKodeTransaksiServlet</servlet-name>
        <url-pattern>/SimpanKodeTransaksi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KodeTransaksiServlet</servlet-name>
        <url-pattern>/kode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditKodeTransaksiServlet</servlet-name>
        <url-pattern>/editkode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UbahProfilMasjid</servlet-name>
        <url-pattern>/ubahprofilmasjid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputRekeningServlet</servlet-name>
        <url-pattern>/inputrekening</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRekeningServlet</servlet-name>
        <url-pattern>/editrekening</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PengurusMasjidServlet</servlet-name>
        <url-pattern>/pengurus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpanEditKodeTransaksiServlet</servlet-name>
        <url-pattern>/simpan_edit_kode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Donatur</servlet-name>
        <url-pattern>/donator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputDonatur</servlet-name>
        <url-pattern>/inputdonatur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusKodeTransaksiServlet</servlet-name>
        <url-pattern>/hapus_kode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpanPengurusServlet</servlet-name>
        <url-pattern>/simpanpengurus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPengurusServlet</servlet-name>
        <url-pattern>/editpengurus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusPengurusServlet</servlet-name>
        <url-pattern>/hapuspengurus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpanEditRekeningServlet</servlet-name>
        <url-pattern>/simpan_edit_rekening</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusRekeningServlet</servlet-name>
        <url-pattern>/hapus_rekening</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDonatur</servlet-name>
        <url-pattern>/editdonatur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnggahProposalServlet</servlet-name>
        <url-pattern>/proposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesUnggahProposalServlet</servlet-name>
        <url-pattern>/unggahproposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BatalSimpanServlet</servlet-name>
        <url-pattern>/batal_donatur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpanEditDonaturServlet</servlet-name>
        <url-pattern>/simpan_edit_donatur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusDonaturServlet</servlet-name>
        <url-pattern>/hapus_donatur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PenerimaDanaServlet</servlet-name>
        <url-pattern>/penerimadana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputPenerimaDanaServlet</servlet-name>
        <url-pattern>/inputpenerimadana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPenerimaDanaServlet</servlet-name>
        <url-pattern>/editpenerimadana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpanEditPenerimaDanaServlet</servlet-name>
        <url-pattern>/simpan_edit_penerimadana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusPenerimaDanaServlet</servlet-name>
        <url-pattern>/hapus_penerimadana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesUnggahBeritaServlet</servlet-name>
        <url-pattern>/unggahberita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProposalServlet</servlet-name>
        <url-pattern>/setuju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProposalServlet</servlet-name>
        <url-pattern>/detailproposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnggahBeritaServlet</servlet-name>
        <url-pattern>/posting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesSetujuProposal</servlet-name>
        <url-pattern>/setujuproposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LaporanProposal</servlet-name>
        <url-pattern>/laporanproposalsetuju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsServlet</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeritaServlet</servlet-name>
        <url-pattern>/indexberita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailBerita</servlet-name>
        <url-pattern>/detailberita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndeksProposalServlet</servlet-name>
        <url-pattern>/proposals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TerimaServlet</servlet-name>
        <url-pattern>/terima</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
